header{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    padding: 10px 8%;
    background-color:#E4F9F5;
}


.nav-links{
    list-style: none;
    padding: 10px;
}
.navbar-links{
    padding: 10px;
}
.navigation-logo{
    cursor: pointer;
    margin-right: auto;
}
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family:'Merriweather',serif;
}
a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #30475e;
}
hr{
    border: dotted #43658b 6px;
    border-bottom: none;
    width: 4%;
    margin:100px auto;

}

h1 {
    color: #5eaaa8;
    font-size: 440%;
    font-family: 'Sacramento',cursive;

    margin:0 auto;
}

h2{
    color:#11999E;

    font-family: 'Courgette', cursive;
    padding-bottom: 10px;
}
h3{
    color: #11999E;


    font-family: 'Montserrat',sans-serif;
}
.contact-message{

    width: 40%;
    margin: auto;
}
.copyright{
    color: #11999E;
    font-size: 0.75rem;
    padding: 20px 0;

}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    top: 15%;
    right:50%;

}
 .intro{
     width: 30%;
     margin:auto;
 }
 p{
     line-height: 2;
 }
.images{
    border-radius:70%;
}



.top-container{
position: relative;
padding-top:20px;
background-color: #E4F9F5;
}
.middle-container{
    margin:100px 0;
}
.bottom-container{
    height: auto;
    width: auto;
    background-color: #E4F9F5;
    padding: 40PX 0 20PX;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height:2;
}
.development-img{
width: 40%;
float: left;
margin-right:20px;



}
.giphy-img{
width: 30%;
float: right;
margin-left:80px;
}
.btn {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat',sans-serif;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
